html, body, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

html {
    /*overflow: scroll;*/
    /*overflow-x: hidden;*/
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}

div{
    height: available;
}

body{
    font-family: "Segoe UI", Segoe, "Trebuchet MS", Verdana, sans-serif;
    background-color: #b4b7b8;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100vh;
    width: 15.62vw;
    background-color: #242b2e;
    color: #6b7072;
    box-shadow: 8px 0 14px 0 rgba(70,70,70,0.55);
    flex-flow: column nowrap;
    display: flex;
}

#logo{
    width: 100%;
    min-height: 11.57vh;
    background-color: white;
}

#logo img{
    height: 50%;
    display: block;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#main_nav a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.93vmax;
    line-height: 1.66vmax;
    height: 3.22vmax;
    /*width: 100%;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    background-color: #2f373b;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 100%);
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(46,54,58,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(46,54,58,1) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(46,54,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#2e363a",GradientType=1);

    padding-right: 1.3vmax;
}

#main_nav a:hover {
    text-decoration: none;
    background: rgb(24,163,161);
    background: -moz-linear-gradient(90deg, rgba(24,163,161,1) 0%, rgba(49,188,186,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(24,163,161,1) 0%, rgba(49,188,186,1) 100%);
    background: linear-gradient(90deg, rgba(24,163,161,1) 0%, rgba(49,188,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18a3a1",endColorstr="#31bcba",GradientType=1);
}

nav li{
    list-style: none;
}

#title_filter{
    color: #1ab5b3;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    font-size: 0.98vmax;
    padding-top: 1.25vmax;
    padding-right: 1.25vmax;
}

#title_filter svg{
    width: 0.9vmax;
    height: 0.9vmax;
    margin-left: 0.62vmax;

}


#filter li{
    list-style: none;
    width: 100%;
    text-align: right;
}

#filter a{
    font-size: 0.87vmax;
    line-height: 1.25vmax;
    text-align: right;
    padding: 0.41vmax 1.25vmax;
    text-decoration: none;
    color: #616669;

}

#filter a.active{
    color: #fff;
}

#filter a:hover{
    color: #ffffff;
}

#soc_bar{
    padding: 1.25vmax;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #1e282b;
}

#soc_bar img{
    width: 1.25vmax;
    height: 1.25vmax;
    /*margin-top: 1.25vmax;*/
}

#soc_bar a{
    margin: 0.25vmax;
}

#soc_bar a:hover{
    transform: scale(0.90);
}

#cop{
    text-align: right;
    /*width: 100%;*/
    font-size: 0.62vmax;
    color: #6b7072;
    padding-right: 1.25vmax;
    /*margin-right: 1.25vmax;*/
}

main{
    /*width: 100%;*/
    min-height: 100vh;
    padding-left: 15.62vw;
}

.work_list{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.work_box{
    height:15.25vw;
    max-width: 21.09vw;
    width: 25%;
    position: relative;
    overflow: hidden;
}

.work_box img{
    width: calc(100% + 5vw);
    height: auto;
    position: absolute;
    z-index: 1;
}

.work_box a{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: inherit;
    background-color: rgba(45,184,185,0.9);
    color: white;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.work_box a:hover{
    opacity: 1;
}

.arrow{
    width: 3vw;
    height: 3vw;
    fill: white;
}


.work_box h2{
    font-size: 1.25vw;
    font-weight: 400;
    margin-bottom: 0.78vw;
}

.work_box h3{
    font-size: 0.75vw;
    font-weight: 400;
}

.work_box h3:after{
    content: '';
    width: 50%;
    height: 1px;
    margin:1vw auto;
    display: block;
    background-color: white;
}

#info{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 3.68vw;
    height: 3.68vw;
    background-color:rgba(45,184,185,0.9);
    fill: white;
    padding: 0.5vw;
    cursor: pointer;
}

#main_nav .active{
    background: rgb(24,163,161);
    background: -moz-linear-gradient(90deg, rgba(24,163,161,1) 0%, rgba(49,188,186,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(24,163,161,1) 0%, rgba(49,188,186,1) 100%);
    background: linear-gradient(90deg, rgba(24,163,161,1) 0%, rgba(49,188,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18a3a1",endColorstr="#31bcba",GradientType=1);
}

#info_box svg{
    height: 0.88vw;
    fill: white;
    margin-right: 0.52vw;
}

#info_box {
    position: fixed;
    right: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.7);
    padding: 0.5vw 3.85vw 0.5vw 0;
    top: 4.68vw;
    color: white;
    transform: translateX(100%);                /*выход за границу экрана*/
    transition: all 0.35s;
}

#info_box.open{
    transform: translateX(0%);
    transition: all 0.35s;                        /*плавный выход*/
}

#info_box li{
    list-style: none;
    font-size: 0.9vmax;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    line-height: 0.98vmax;
    margin-bottom: 1vw;
}

#info_box li:last-of-type{
    margin-bottom: 0;
}


.wrap {
    margin: 1.56vw;
    padding: 1.56vw;
}

.white{
    background-color: white;
}

.info_work_box{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-content: stretch;
    -webkit-align-content: stretch;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.info_work_box{
    width: 100%;
}

.info_work_box .left_info,
.info_work_box .right_info
/*.info_about_box .left_info,*/
/*.info_about_box .right_info*/{
    width: 48%;
}

.info_work_box .left_info .img_box_work{
    width: 100%;
    overflow: hidden;
    height: 24.16vw;
}

/*.info_about_box .left_info .img_box_about{*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*    height: 15.72vw;*/
/*}*/

.info_work_box .left_info .img_box_work img
/*.info_about_box .left_info .img_box_about img*/{
    width: 100%;
    height: auto;
}

.info_work_box .left_info .about_work
/*.info_about_box .about*/{
    margin-top: 1.3vw;
    padding-bottom: 0.16vw;
    border-bottom: 1px solid #e5e5e5;
    color: #a3a3a3;
    font-size: 0.93vw;
    line-height: 1.56vw;
}

.info_work_box .left_info .about_work h3,
.title_info
/*.info_about_box .about h3*/{
    font-size: 1.25vw;
    line-height: 1.35vw;
    color: #000000;
    margin-bottom: 1vw;
    font-weight: 400;
}

.info_work_box .left_info .about_work p,
.info_about_box .about p{
    margin-bottom: 2.39vw;
}

/*.info_work_box .left_info .about_work p:last-of-type,*/
/*.info_about_box .about p:last-of-type{*/
/*    margin-bottom: 0;*/
/*}*/

.project_info li{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.92vw;
    line-height: 1.56vw;
    color: #848484;
    padding: 0.72vw 0;
    border-bottom: 1px solid #e5e5e5;
}

.project_info li img{
    margin-right: 0.67vw;
}

.list_tags{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
}

.project_info,
.tags{
    margin-bottom: 1.56vw;
}

.tag{
    font-size: 0.9vw;
    color: lightgray;
    padding: 0.5vw;
    margin-right: 0.5vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 0.7vw;
}

.tag:hover,
.tag.border:hover{
    transform: scale(1.2);
    color: #1ab5b3;
    border: 1px solid #1ab5b3;
    transition: all 0.35s;
}